<a href="https://colab.research.google.com/github/arwalokhandwala/intro-to-python/blob/main/python-beginner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

#### _Doing things..._

### A FUNCTION EXECUTES TASKS

1. Many functions are already written in the Python standard library or in 3rd party libraries
2. Executing functions is extremely common when writing code, so itâ€™s important to understand how to do so
3. When we executing a function we say we *CALL* the function

In [ ]:
print('Hello World')

### SOME FUNCTIONS RETURN VALUES

1. Some function can **RETURN** a value
2. This value is typically what we expected the function to compute

Let's try the function `pow`, which can compute powers. For instance, 2 at the power of 2 should return 4

pow(2, 2)

### Other common in-built methods/functions are are


*   **abs(number)** - returns absolute value of passed argument
*   **len(argument)** - length of the argument
*   **string.lower()** - Converts the string into lowercase

# DataTypes & Variables

_The building blocks of programs_

### 1. Variables & Simple Datatypes
### 2. Collection Datatypes

## Variables

### Concept

 - Variables are like *memory*, they allow our program to remember some information for later use. 
 - Variables in python are written in **snake_case**

### Examples of creating and using variables

In [ ]:
# We assign the VALUE 'Hello World' to the variable message. The data type of message will be str (String)
message = 'Hello World'  
# We pass our variable message to the `print` function
print(message)

Hello Everyone!

In [ ]:
# Some other examples

pie = 3.1415 # defining a float
python_is_easy = True # defining a boolean
power = 3 # defining an int

You can check the type of variable with **type(variable)** function

In [ ]:
type(message)

str


#### You can also use Operators + Variables to combine data

*   +,  -, *, / (add, subtract, multiply, divide)
*   +=, -=, etc ( perform operation and save result)


*   //, % (quotient, remainder (modulus))
*  \>, <, ==, !=, <=, >= (greater than, less than, equal, not equal, etc)

In [ ]:
a=10
a+=2
print(a)

12

### Simple Data Types



*   Text
*   Number
*   Float
*   Boolean

### Simple Datatypes & Variables: Exercises

1. Create two variables with numbers. Use the `pow` function to get a power of a integer.
2. Create a variable with a boolean. Print it. What happens ?
3. Print the type of all the variables created (Hint: type())

In [ ]:
## Exercise code goes here


##

## Collections Datatypes

Some datatypes allow to hold several values. They're incredible useful to _organize_ the information in your code.
The most used are `list` and `dict`

### List 

1. Syntax: written with **square brackets** around the items or elements. We use comma between each element

**More about List: https://docs.python.org/3/tutorial/datastructures.html**

In [ ]:
[1, 2]

[1, 2]

#### Each item in the list can be accessed by it's **index**. 

To access an element by index, we
use square brackets (again). 

The **index** STARTS AT ZERO !!!

Note: You can even access subset of list with **list[start_index:end_index:step_size]**

In [ ]:
# defining a list with 3 integers
three_numbers = [1, 2, 3]
# getting the number at index 1 
three_numbers[1]

2

In [1]:
# Slicing
numbers=[0,1,2,3,4,5,6,7,8,9,10]

# Subset of list from index 0-4
numbers[0:5]

# start from index 0 till index 8
numbers[:9]

# get every alternate numbers using step_size
numbers[::2]

[0, 2, 4, 6, 8, 10]

#### Adding Items

we can add items to an existing list with the `.append` **method**

NOTE: A **method** is a function that is applied on an existing object.

In [ ]:
three_numbers = [1, 2, 3]
three_numbers.append(4)
print(three_numbers)

[1, 2, 3, 4]

#### Changing items

changing items is made by assigning a value to an item of the list

In [ ]:
three_numbers[1] = 999
print(three_numbers)

[1, 999, 3, 4]

#### Removing items
we can remove item from an existing list with the `.remove` **method**

NOTE: 
* `.remove` method removes the first occurence of value in the list
* if the value is not present it throws an error

In [ ]:
three_numbers.remove(3)
three_numbers

[1, 2, 4]

### Checking membership

We can use the `in` keyword to check if a value is present in a list

In [ ]:
# is the number 1 present in a list with 1, 2 and 3
1 in [1, 2, 3]

True

In [ ]:
# also works with variables
a_new_list = [1, 2, 3, 4]
number_to_check = 2
# is the value of the variable `number_to_check` present in the variable a_new_list
number_to_check in a_new_list

True

### List Datatypes - Exercises

- Create a list of strings, with at least 3 elements
- The list should include your name
- Append 1 new elements in that list
- print your name
- Change your name to another value

In [ ]:
## Exercise Code Goes Here


##

### Solutions

### Tuples

* Tuples are very similar to `lists`, except that they *can not be modified after they have been created*

* **NO** append() or remove()

* Slicing works the same way `tuple[start:end:step_size]`

* Tuples are commonly used as the *return types of functions*

**More about Tuples: https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences**

In [ ]:
three_numbers_tuple = (1, 2, 3)
three_numbers_tuple[1] = 1

TypeError: ignored

### Dictionaries [dict]

Dictionaries are a very natural way to organize information. 

**More about dictionaries: https://docs.python.org/3/tutorial/datastructures.html#dictionaries**

In [ ]:
# a dictionnary describing a person
person = {"name": "bob", "city": "new york"}

#### Accessing data from dictionnaries

1. Each pair is called a "Key Value" pair
2. For example, `"name"` is a Key, and `"bob"` is a Value
3. Most of the time, the keys are string (it's not required, but think twice)
4. Dictionnaries allow us to **GET** values by using one of the **KEYS**

### Accessing Dictionary Values

In [ ]:
# getting the key 'meal' from the dict lunch
person['name']

'bob'

In [ ]:
# the key must exist
person['dob']

NameError: name 'person' is not defined

### Updating a value in a dictionnary

We just **ASSIGN** a value to a **KEY** of the dictionnary

In [ ]:
print("Let's create a dict representing a person")
person = {'name': 'bob', 'city': 'new york'}
print(person)

print("Well, bob actually lives in Chicago, let's update our dict")
# we ASSIGN the VALUE chicago to the KEY `city` in the dictionnary `person`
person['city'] = 'chicago'
print(person)

Let's create a dict representing a person
{'name': 'bob', 'city': 'new york'}
Well, bob actually lives in Chicago, let's update our dict
{'name': 'bob', 'city': 'chicago'}

In [ ]:
city_value = person.pop('city')
print(person, city_value)

{'name': 'bob'} chicago

In [ ]:
person['town'] = city_value
person

{'name': 'bob', 'town': 'chicago'}

### Dict Datatypes - Exercises

- Create a **person** `dict` with at least 3 key-value pairs representing **name**, **city**, **age**
- print person's name
- Change **name** key to some other value
- remove **age** key

In [ ]:
## Exercise code goes here



#

## Remember that we can infer the datatype of a variable by looking at the first character of the output value
- `'` or `"`: str / string
- `[` (square bracket) means a list
- `{` (curly bracket) means a dict
- a number means a int or a float

# Control Structures

# *If* statement

* Used for Conditional Execution
* We can control what code to execute depending on the conditions that we define.
* Check conditions with boolean operators (i.e. <, >, ==)
* Execute a single code block depending on result
* If True: code runs



Can be:
* if alone
* if/else
* if/elif(s)/else

Indentation controls end of if block

Data controls which code runs

### A simple example

In [4]:
age_person = 24

if age_person > 18:
  print("You can drive")
else:
  print("You can't drive")

You can drive

### Complete if / elif / else syntax

In [5]:
a=10
b=100

if a>b:
  print("A is larger than B")
elif a==b:
  print("A is equal to B")
else:
  print("A is smaller than B")

A is smaller than B

# Loops

#### Performing actions on all elements of a collection

1. Repeat operations
2. Loop variable takes each value from list in turn
3. Indentation controls end of loop
4. Watch out for infinite loops!
5. Interrupt or restart kernel when this happens
6. There are two types of loops: the `for` loop and the `while` loop. The for loop is much more common, we'll focus on this one today

### for loop

In [6]:
# basic syntax
for i in [7, 6, 5]:
    print(i)

7
6
5

In [7]:
users = ["Jeff", "Jay","Theresa"]

for user in users:
  print(f'Hello {user}')

Hello Jeff
Hello Jay
Hello Theresa

#### Breaking Loops

In [10]:
# we can stop a loop based on a condition
for i in [1, 2, 3]:
    print(f'Current value in for loop - {i}')
    if i is 2:
        print("Found 2")
        break

Current value in for loop - 1
Current value in for loop - 2
Found 2

# Functions

Defining our own functions allows us to reuse our code. 

It's an essential tool to write good code (and to not become crazy !)

Here's the basic syntax:

In [11]:

def add_two(a, b):  # a and b are called "arguments". They behave like variables in the function
    return a+b    # the indented code gets executed each time the function is called
    
add_two(1, 2)

3

In [ ]:
# We can also call the function with variables
bob=1
albert=2
add_two(a=bob, b=albert)

3

A function typically **RETURNS** a value. 

To use the return value, we can assign it to a variable

Note that the `return` keyword stops the execution of the function (ie: code written after return is typically not executed)

In [12]:
def add_two_v2(a, b): 
    return a + b      # returns a value to the caller of the function
    print('nooo')     # nothing gets executed after return
    

number = add_two_v2(3, 4)
print('the result is:', number )

the result is: 7

# Packages

With **`import`** we can import python packages and reuse code created by others

In [13]:
import math
x=math.cos(2*math.pi)
print(x)

1.0

In [ ]:
# let's use the standard library `datetime` module to print today's date
import datetime
print(datetime.datetime.today())

2021-01-28 20:43:39.681437

In [15]:
# if an import fails, we have to install the package with pip
# in the notebook, we have to run pip with a leading !
!pip install requests
# then you can import that package without errors
import requests

Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests) (3.0.4)